img {
  width: 300px;
}

div {
  text-align: center;
}

.testing-div {
  display: flex;
  flex-flow: column;
  align-items: center;
}

input {
  max-width: 300px;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 25px;
}
